*{
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: orange;
}

/* header and footer */
header, footer {
    display: flex;
    justify-content: space-between;
    height: 55vh;
    background-color:  orange;
    color: black;
}

/* nav */


li{
    padding-right: 10px;
}
/* nav list */
ul {
    display: inline-flex;
}
